---
layout: page
title: My website
subtitle: This is where I will tell my friends way too much about me
bigimg: <a data-flickr-embed="true"  href="https://www.flickr.com/photos/unmeer/16130327748/in/photolist-qzo9t7-peKaQq-pC14ba-qWGJX7-re7Wve-qWQBwM-qHC1W8-AYK5mv-pueQkj-pbxm2k-pXJbRK-qMH78M-q8a4TJ-qMJNdx-qZVqNi-pRain2-rcpood-pXJcxe-pPDNbq-qM7xa6-qZZDP1-pRajkz-pRaiMv-qsZBVA-pQ7q5J-qTVJhr-qBtyHZ-rdhz3k-pj8PBq-qTLM78-rdpmy2-qDVvAC-qHuJWA-qBXfjj-r15tkt-qHC1zM-p5xKaa-qsYRnf-qKzA7J-qZVpwa-pXvsUd-qHuGM5-qHDGcZ-qviEzp-pNSRbD-qZVtH6-oAXXyj-q4hJsg-qvbsGE-rAUUz6" title="Ebola must go"><img src="https://farm8.staticflickr.com/7514/16130327748_76aa29204b_k.jpg" width="2048" height="1361" alt="Ebola must go"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
---

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
